@page "/"
@using Microsoft.Extensions.Logging

@inject ILogger<Home> logger

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override void OnInitialized(){
        int id = 32;
        logger.LogInformation("Abriendo página principal para el id # {idUsuario}", id);
    }
}
